/* form {
  display: flex;
  justify-content: space-between;
  margin: auto;
} */

/* th{
  border: solid black 2px;
}
td{
  border: solid black 2px;
} */
.table_header {
  background-color: rgb(197, 25, 25);
  color: white;
  text-align: center;
}
